@import "./assets/styles/variables";

@import "node_modules/bootstrap/scss/bootstrap";
//@import "node_modules/bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Maragsa Display";
  src: url("assets/styles/MaragsaDisplay.woff2") format("woff2"),
    url("assets/styles/MaragsaDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.color-yellow {
  color: $color-yellow;
}
.color-red {
  color: $color-red;
}
.color-green {
  color: $color-green;
}
.color-blue {
  color: $color-blue;
}

.color-blue-dark {
  color: $color-blue-dark;
}

.background-yellow,
.background-red,
.background-green,
.background-blue,
.background-blue-dark {
  color: #fff;
}

.background-yellow {
  background: $color-yellow;
}
.background-red {
  background: $color-red;
}
.background-green {
  background: $color-green;
}
.background-blue {
  background: $color-blue;
}

.background-light {
  background: #fff;
  color: $color-dark;
}

.background-blue-dark {
  background: $color-blue-dark;
}

$font-primary: "Maragsa Display", serif;

body {
  font: 1rem/1.375 $font-family-base;
}

a {
  color: inherit;
}

h1 {
  font-size: 3.25rem;
  line-height: 0.85;
  line-height: 1;
  @media (min-width:768px) {
    font-size: 7.5vw;
    line-height: 0.85;

  }

  font-family: $font-primary;
  font-weight: normal;
}
h2 {
  font-family: $font-primary;
  //text-transform: uppercase;
  
  font-weight: 700;
  font-size: 2rem;
  @media (min-width:768px) {
     font-size: 2.5rem;
     letter-spacing: 0.05em;
  }

}
h3 {
  font-family: $font-primary;
  //text-transform: uppercase;
  @media (min-width:768px) {
    letter-spacing: 0.05em;
  }
  font-weight: 700;
  font-size:1.5rem;

}

img {
  width: 100%;
}
.btn {
  border: none;
  //background: $color-red;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  @media (min-width:768px) {
    padding: 0.75rem 2rem;

  }
  letter-spacing: 0.15em;
  &:hover {
    color: #fff;
  }
}

@import "./assets/styles/layout";
@import "./assets/styles/swiper";
