.container {
  max-width: 1680px;
  max-width: 1300px;
}

#logo-circle {
  position: fixed;
  top: 1rem;
  left:  1rem;
  width: 5rem;
  height: 5rem;
  @media (min-width: 768px) {
    top: 2.5vw;
  left: 2.5vw;
  width: 6rem;
  height: 6rem;
  }
  padding: 0.5rem;
  display: flex;
  background: $color-light;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0.125rem 0.5rem rgba(black, 0.075);
  img {
    width: 100%;
  }
}

header#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  // display: none;
  //box-shadow: 0 0.125rem 1rem rgba(black, 0.125);
  background: rgba(#fff, 0.95);
  background: rgba(#fff, 1);
  /* background: rgba($color-blue-dark,0.975);
  color: #fff; */
  .row {
    padding: #{$base-unit * 1} 0;
    .logo {
      img {
        height: 3rem;
        width: auto;
      }
    }
  }
}

#intro {
  //background: url(/assets/img/bcvr-outline.svg) center right no-repeat;
  background-size: cover;

  > .row {
    //min-height: 75vh;

    > * {
      &#bcvr-text {
        padding-top: 7.5rem;
        > div {
          padding: 1rem;
          @media (min-width: 768px) {
            padding: 4.5vw 2.5vw;
          }
        }
      }

      &#bcvr-photo {
        background: url(https://res.cloudinary.com/insightscs/image/upload/v1607616366/r2.dti/batanes-ZGQB3CM.jpg)
          center center;
        background-size: cover;
      }
    }
  }
}

#province {
  padding-top: 5rem;
  padding-bottom: 5rem;

  #province-products.row {
    > * {
      padding-left: 1px;
      padding-right: 1px;
      @media (min-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .bcvr-card {
        margin-bottom: 1px;
        @media (min-width: 768px) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.bcvr-card {
  box-shadow: 0 0.125rem 0.5rem rgba(black, 0.075);
  transition: $transition;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0.125rem 0.5rem rgba(black, 0.075), 0 0.125rem 1.5rem rgba(black, 0.125);
    .photo > * > img {
      transform: scale(1.125);
    }
  }

  .photo {
    overflow: hidden;
    height: 0;
    position: relative;
    padding-top: 100%;
    > * {
      position: absolute;
      top: 0;
      left: 0;
      background: $color-yellow;
      width: 100%;
      height: 100%;
      > img {
        object-fit: cover;
        height: 100%;
        // width: auto;
        transition: $transition;
      }
    }
  }
  .info {
    padding: 1rem;
    background: #fff;
    //color: $color-green;
    > * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      -webkit-line-clamp: 1;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer#footer {
  background: #fff;

  .row#govt-logos {
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    > * img {
      height: 3rem;
      width: auto;
      margin: 0 0.5rem 1rem;
    }
  }
}
