

$color-yellow: #FBCE08;
$color-red: #EC1B25;
$color-green: #4FA81B;
$color-blue: #1837B4;

$color-blue-dark: darken($color-blue,20%);

$background-blue-dark: darken($color-blue,20%);

$color-light: #fff;
$color-dark: #111;

$body-bg: #eee;
$body-bg: desaturate($color-yellow,25%);
$body-bg: #fafafa;


$body-color:$color-blue-dark;

$base-unit: 1rem;
$grid-gutter-width: $base-unit * 2 !default;

$font-family-base:  'Andika New Basic',   'IBM Plex Sans', 'Inter', 'Work Sans',  serif;

$transition: all ease 300ms;

$box-shadow: 0 0.125rem 0.5rem rgba(black, 0.125);